.oe_mis_builder_content {
    width:95vw;
    overflow-x: auto;
    
    /*limit the width of the parent of the parent component in order for the horizontal scroll to work  */
}
 
.o_list_renderer {
    width: 100%;
    overflow: auto;
    overflow-x: auto;
    position: relative;
    height:95vh; /*limit the height in order for the vertical scroll to work  */
    
    
    
}
.o_list_renderer .o_list_table th {
    position: sticky;
    background-color: #f2f2f2;
  }

  .o_list_renderer  table {
    border-collapse: collapse;
    overflow-x: scroll;
    max-width:93vw;

}

.o_list_renderer  th, td {
    border: 1px solid #f2f2f2;
    padding: 8px;
    text-align: left;
}

.o_list_renderer  thead th {
    position: -webkit-sticky; /* Pour Safari */
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 2;
    border: 0.2px solid #f0f0f0;
}
.o_list_renderer tbody tr td:first-child {
    position: -webkit-sticky; /* Pour Safari */
    position: sticky;
    left: 0;
    z-index: 1;
} 

.table-striped > tbody > tr:nth-of-type(2n) > * {
    background-color: #fafafa;
    border: 0.2px solid #f0f0f0;
}

.table-striped > tbody > tr:nth-child(odd) > * {
    background-color: #ffffff;
    border: 0.2px solid #f0f0f0;
}

.o_list_renderer  tbody th, tbody td {
    position: -webkit-sticky; /* Pour Safari */
    position: sticky;
    
}
.o_list_renderer  table thead th:first-child {
    left: 0;
    z-index: 2;
   
}
.o_list_renderer tbody th {
    left: 0;
    background-color: #f9f9f9;
    z-index: 1;
}

.o_web_client .mis_builder_amount {
    text-align: right;
}

.o_web_client .mis_builder_collabel {
    text-align: center;
}

.o_web_client .mis_builder_rowlabel {
    text-align: left;
}

.o_web_client .mis_builder a {
    /* we don't want the link color, to respect user styles */
    color: inherit;
}

.o_web_client .mis_builder a:hover {
    /* underline links on hover to give a visual cue */
    text-decoration: underline;
}


/* style for the control panel (search box and buttons) */

.oe_mis_builder_cp {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.oe_mis_builder_cp_left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.oe_mis_builder_cp_right {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    max-width: 1280px;
}

.oe_mis_builder_cp_right_top {
    display: flex;
    flex-direction: row;
}

.oe_mis_builder_cp_right_bottom {
    display: flex;
    flex-direction: row;
}

.oe_mis_builder_filter_buttons {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
}

.oe_mis_builder_action_buttons {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

